* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    margin-top: 22%;
    width: 90%;
    border-radius: 0.8em;
    padding: 1.4rem 1.2rem 1rem 1.3rem;
}

h2 {
    font-size: 1em;
}
