* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url("Media/background-pattern-desktop.svg") 0 0 no-repeat;
    background-color:  hsl(275, 100%, 97%);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 70vh;
}

main {
    margin-top: 10%;
    width: 37%;
    border-radius: 0.8em;
    padding: 1.6rem 1.4rem 1.4rem 1.6rem;
    background-color: hsl(0, 100%, 100%);
    display: flex;
    flex-direction: column;
}

h1, h2 {
    color: hsl(292, 42%, 14%);
}

p {
    font-size: 13px;
    margin: 0 0 3.5%;
    display: none;
    color: rgb(118, 118, 118);
}

h2 {
    font-size: 0.9em;
    margin: 8px 0;
    padding: 5px 0;
}

#heading {
    display: flex;
    align-items: center;
    margin-bottom: 0.7em;
}

h1 {
    font-weight: 700;
    font-size: 2.7em;
}

.question1, .question2, .question3, .question4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.star {
    margin: 0 0.7em 0 0;
}

.plus {
    width: 1.4em;
    height: 1.4em;
}

.plus:hover {
    cursor: pointer;
}

#drop-1, #drop-2, #drop-3 {
    border-bottom: 1px solid rgb(240, 240, 240);
    margin: 0 0 0.8em 0;
}
