* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url("Media/background-pattern-desktop.svg") 0 0 no-repeat;
    background-color:  hsl(275, 100%, 97%);
    background-size: 100% 0 50% 0;
}

main {
    margin-top: 13%;
    width: 50%;
    border-radius: 0.8em;
    padding: 1.6rem 1.4rem 1.4rem 1.6rem;
}

h2 {
    font-size: 0.95em;
}
